@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');
@import url('utils.css');
@import url('nav.css');
@import url('socialItems.css');
@import url('role.css');

* {
  border: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
}