img {
  display: block;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
  max-width: 1366px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.col-2{
}
.col-3{
  width: calc((8.333333333%) * 3 - 16px);
}
.col-4 {
  width: calc((8.333333333%) * 4 - 16px);
  margin: auto !important;
}
.col-5{
  width: calc(8.3333333% * 5);
}
.col-6{
  width: 50%;
}
.w-260{
  width: 260px;
}
.w-25p{
  width: 25%;
}
.w-100p {
  width: 100%;
}
.text-center{
  text-align: center;
}

.p-32{
  padding: 32px;
}
.px-16{
  padding-left: 16px;
  padding-right: 16px;
}
.py-16{
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pt-8 {
  padding-top: 8px;
}
.pt-24{
  padding-top: 24px;
}
.pt-260{
  padding-top: 260px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pb-24{
  padding-bottom: 24px;
}
.pb-100{
  padding-bottom: 100px;
}

.mt-8{
  margin-top: 8px;
}
.mt-16{
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px !important;
}
.mt-100{
  margin-top: 100px;
}
.mt-260{
  margin-top: 260px;
}
.mb-8{
  margin-bottom: 8px;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.mb-28{
  margin-bottom: 28px !important;
}
.mb-48{
  margin-bottom: 48px;
}
.mb-100{
  margin-bottom: 100px !important;
}

.color-main {
  color: #56c4c5;
}
.color-light {
  color: #747474;
}
.color-white{
  color: #fff;
}

.bg-main {
  background: #56c4c5;
}
.bg-footer{
  background: #F5F5F5;
}

.bdb-1{
  border-bottom: 1px solid #00000014;
}

.fz-20 {
  font-size: 20px;
}
.fz-24 {
  font-size: 24px;
}
.fz-32 {
  font-size: 32px;
}
.fz-48 {
  font-size: 48px;
}

.fw-500{
  font-weight: 500;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-dir-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.gap-8{
  column-gap: 8px;
}
.gap-16{
  column-gap: 16px;
}
.gap-24{
  column-gap: 48px;
}
@media screen and (max-width: 768px) {
  .row {
    padding: 0 20px;
  }
  .col-sm-12 {
    width: 100%;
    margin: 0 auto;
  }
  .text-center-sm{
    text-align: center;
  }
  .py-sm-16 {
    padding: 16px;
  }
  .pt-sm-32 {
    padding-top: 32px;
  }
  .pt-sm-300{
    padding-top: 300px;
  }
  .pb-sm-60{
    padding-bottom: 60px;
  }
  .fz-sm-18 {
    font-size: 18px;
  }
  .fz-sm-24{
    font-size: 24px;
  }
  .fz-sm-28 {
    font-size: 28px;
  }
  .mt-sm-8{
    margin-top: 8px;
  }
  .mt-sm-60{
    margin-top: 60px;
  }
  .mb-sm-24 {
    margin-bottom: 24px !important;
  }
  .flex-dir-column-reverse-sm {
    flex-direction: column-reverse;
  }
  .justify-between-sm {
    justify-content: space-between;
  }
  .img-home-sm {
    width: 100%;
  }
  .hidden-sm{
    display: none;
  }
}
